<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
<nav>
  <a href="/restaurants">List of restaurants</a>
  |
  <a href="/restaurants/new">Add a new restaurant</a>
  |
  <a href="/users/register">Register</a>
  |
  <a href="/users/signin">Sign In</a>
  |
  <a href="/users/signout">Sign Out</a>
</nav>
