<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style >
      body,html{
        height: 100%;
        margin:0;
        text-align:center;
      }
      body {
        background-image:url('https://adambricker.com/wp-content/uploads/2018/03/chefs_table_vol_6_video_preview.jpg');
        height:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
        font-size:25px;
      }
      a{
        color:white;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Takeout!</h1>
      <nav>
      <a href="/users/register">Register</a>
      |
      <a href="/users/signin">Sign In</a>
    </nav>


  </body>
</html>
