<%- include('./partials/header.ejs') %>
<nav>
  <a href="/restaurants">List of restaurants</a>
  |
  <a href="/users/signout">Sign Out</a>
</nav>
  <body>
    <h1>Add A New Restaurant Here</h1>
    <form action="/restaurants" method="POST">
        <fieldset>
          <label for="cuisine">Cuisine:</label>
          <select name="cuisine">
            <option value="Italian">Italian</option>
            <option value="Thai">Thai</option>
            <option value="Japanese">Japanese</option>
            <option value="Chinese">Chinese</option>
            <option value="American">American</option>
            <option value="Soul">Soul</option>
            <option value="Mediterranean">Mediterranean</option>
            <option value="Korean">Korean</option>
            <option value="Mexican">Mexican</option>
          </select>
        </fieldset>
        <fieldset>
           <label for="name">Restaurant Name:</label>
           <input type="text" name="name" id="name">
        </fieldset>
        <fieldset>
           <label for="rating">Restaurant Rating:</label>
           <input type="number" name="rating" id="rating">
        </fieldset>
        <fieldset>
           <label for="favDish">Favorite Dishes:</label>
           <input type="text" name="favDish" id="favDish">
        </fieldset>
        <fieldset>
           <label for="img">Img Link:</label>
           <input type="text" name="img" id="img">
        </fieldset><br><br>
        <input type="submit" name="submit" value="submit">
    </form>

  </body>
</html>
