<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Sign In</h1>
    <form action="/users/signin" method="POST">
      <fieldset>
        <label for="username">Username:</label>
        <input type="text" name="username">
      </fieldset>
      <fieldset>
        <label for="password">Password:</label>
        <input type="password" name="password" value="">
      </fieldset>
      <input type="submit" name="" value="Sign In">
    </form>
  </body>
</html>
